<center-div [center-content]="true">
    <h3>Enter the question that you're trying to answer:</h3>
    <div class="form-group">
        <input type="text" class="form-control" name="title" aria-describedby="helpId"
            placeholder="E.g. Which college should I attend?">
        <!-- <small id="helpId" class="form-text text-muted">Enter a title for the new decision</small> -->
    </div>
    <page-nav-button h-align="center" class="div-content-centre" (click)="submitTitle()">Next</page-nav-button>


</center-div>