<div class="container">

    <div class="row">
        <div class="col-12">
            <h3> Enter the question that you're trying to answer </h3>
        </div>
    </div>

    <div class="row justify-content-center align-items-center input-row">
        <div class="col-sm-10 col-12 col-lg-7 d-flex justify-content-center outlint">
            <input type="text" class="form-control" name="title" aria-describedby="helpId"
                placeholder="E.g. Which college should I attend?" [(ngModel)]="decisionMatrix.title" required
                #titleInput="ngModel">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <page-nav-button (click)="submitTitle()" [disabled]="titleInput.invalid!" #nextBtn>Next</page-nav-button>
        </div>
    </div>


</div>