<div class="assess-options-wrapper">
  <div class="option-description-wrapper">
    {{option.description}}
  </div>


  <table>
    <colgroup>
      <col class="options-col">
      <col class="score-col">
      <!-- repeat as many cols as the number of headers -->
    </colgroup>
    <!-- Header -->
    <tr>
      <th class="criteria-table-header">
        Criteria
      </th>
      <th class="criteria-table-header">
        Score (1 - 3)
      </th>
    </tr>

    <tr *ngFor="let criterion of criteria">
      <td>
        {{criterion.description}}
      </td>
      <td>
        <input type="text" class="score-input">
      </td>
    </tr>

  </table>


</div>