.assess-options-wrapper {
  margin-top: 0.5rem;
}

.option-description-wrapper {
  text-align: center;
  margin-bottom: 0.5rem;
}

table {
  text-align: center;
  /* width: 100%; */
  table-layout: fixed;
  /* margin-left: 15vw;
  margin-bottom: 5vh; */
}

.criteria-table-header {
  padding: 1em 0.5em;
}
.criteria-col {
  min-width: 10rem;
}

.score-input {
  width: 5rem;
  text-align: center;
}
