<div class="assess-options-page-wrapper">
  <h3> Indicate the extent to which the following option meets your criteria: </h3>

  <assess-options [option]="currentOption" [criteria]="decisionMatrix.criteria"></assess-options>

  <div class="navigation-button-wrapper">
    <button type="button" class="btn btn-primary option-nav-btn" [disabled]="isFirstOption()"
      (click)="goToPreviousOption()"> Previous </button>
    <button type="button" class="btn btn-primary option-nav-btn" [disabled]="isLastOption()" (click)="goToNextOption()">
      Next </button>
  </div>

</div>