.assess-options-page-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

h3 {
  margin-top: 15vh;
  text-align: center;
}

.navigation-button-wrapper {
  margin-left: 38vw;
}

.option-nav-btn {
  margin-left: 2em;
  width: 7em;
}

button[disabled] {
  background-color: gray;
  border-color: antiquewhite;
}
