<center-div [center-content]="true">
  <h3>
    What are the possible options that you're considering?
  </h3>
  <div class="form-group">
    <input type="text" class="form-control" name="title" aria-describedby="helpId"
      placeholder="E.g. Prof Xavier's School for The Young and Gifted?">
    <!-- <small id="helpId" class="form-text text-muted">Enter a title for the new decision</small> -->
  </div>
  <!-- <page-nav-button h-align="center" class="div-content-centre" (click)="submitTitle()">Next</page-nav-button> -->


</center-div>