<center-div [center-content]="true">
    <h3>Enter the question that you're trying to answer:</h3>
    <div class="form-group">
        <input type="text" class="form-control" name="title" aria-describedby="helpId"
            placeholder="E.g. Which college should I attend?">
        <!-- <small id="helpId" class="form-text text-muted">Enter a title for the new decision</small> -->
    </div>
    <journey-nav-button nav-url="/decision-matrix/options" h-align="center">Next</journey-nav-button>
</center-div>