@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Quicksand&display=swap");

:root {
  --primary-grey: #1e1e1e;
  --secondary-grey: #424242;
  --white-color: #eeeeee;

  /* Shadows */
  --shadow-color: rgb(17, 17, 17);
  --shadow-properties: 0.1rem 0.1rem 0.25rem;

  /* font-sizes */
  --normal-text: 1.2em;
  --h3: 2rem;
  --h1: 2.8rem;
  --button-text: 1.2rem;

  /* Serif font */
  --serif-font: "Cormorant Garamond", serif;
  --san-serif-font: "Quicksand", sans-serif;
}

body {
  padding: 0 2rem;
  background-color: var(--primary-grey);
  color: var(--white-color);
  font-size: var(--normal-text);
  font-family: var(--san-serif-font);
}

h1,
h2,
h3 {
  font-family: var(--serif-font);
}

h1,
h2,
h3,
p,
div {
  color: var(--white-color);
}

h3 {
  font-size: var(--h3);
}

h1 {
  font-size: var(--h1);
}

.outline {
  outline: 0.05rem solid red;
}

input[type="text"] {
  font-size: var(--normal-text);
  padding-left: 1.2rem;
}

button[type="button"] {
  font-size: var(--button-text);
  padding: 0.5rem;
}

button[type="button"]:disabled {
  background-color: grey;
  border-color: antiquewhite;
}
